.current-accommodation {
  background: #e5e5e5;
  color: #2f2d25;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 50px 15%;
  margin-top: 5%;
}

.datePicker {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}