.Form-header {
  text-align: center;
}

.login-form {
  width: 600px;
  margin: 50px auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.form_input {
  height: 60px;
}