@import '../../assets/mixins.scss';

.locations {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

// TODO ДОДЕЛАТЬ ЭТУ АДАПТИВНОСТЬ

//@media screen and (min-width: 320px) {
//  .locations {
//  }
//}
//
//@media screen and (min-width: 768px) {
//  .locations {
//  }
//}
//
//@media screen and (min-width: 1024px) {
//  .locations {
//  }
//}




