@import '../../assets/mixins.scss';

.container-fluid {
  width: 100%;
  height: 80vh;
  padding: 5px;
  padding-top: 10px;
  @include respond(big-tablets) {
    height: 91vh;
  }
}

.selectList {
  width: 520px;
}

.selectList-container {
  display: flex;
  justify-content: center;
}



