@import '../../assets/mixins.scss';

.Form {
  width: 500px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  @include respond(IphonePlus) {
    width: 400px;
  }
  @include respond(Iphone6) {
    width: 370px;
  }
  @include respond(Iphone5) {
    width: 300px;
  }
}

.Form-header {
  text-align: center;
}

.login-form {
  width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.form_input {
  height: 60px;
}
