@import '../../../assets/mixins.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0px 0px 5px 0px #ffffff;

  .Logo {
    width: 150px;
    img {
      width: 100%;
    }
    @include respond(small-phone) {
      display: none;
    }
  }

  .Header-MenuLink {
    font-size: 18px;
    color: #69A042;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

//.header-nav__logo img {
//  @include respond(big-tablets) {
//    max-width: 80px;
//    max-height: 80px;
//  }
//  @include respond(small-tablets) {
//    justify-content: center;
//    align-items: center;
//    padding: 0;
//    max-width: 50px;
//    max-height: 50px;
//  }
//}
//
//.ant-row.ant-row-space-around.ant-row-middle.header-nav {
//  @include respond(big-tablets) {
//    justify-content: space-between;
//    padding: 0 10px;
//  }
//  @include respond(small-phone) {
//    justify-content: center;
//    align-items: center;
//    padding: 0;
//  }
//}
//
//.ant-typography.header-nav__title,
//.header-nav__book-btn {
//  @include respond(small-tablets) {
//    display: none;
//  }
//}
//
//.mobile__book-btn {
//  display: none;
//  @include respond(small-tablets) {
//    display: block;
//  }
//}
//
//.mobile__book-link {
//  color: #4cabff;
//}
