.site-layout-background {
  background: #F9FAF7;
}

.sidebar-button {
  display: inline-block;
  background-color: #FDD74E;
  border: 2px solid #FDD74E;
  left: 15%;
}

.sidebar-button:hover {
  background-color: #fff;
  border: 2px solid #FDD74E;
  color: black;
}

.sidebar-button:active {
  background-color: #fff;
  border: 2px solid #FDD74E;
  color: black;
}


