@import '../../../assets/mixins.scss';


.footer {
  background-color: #2F2D25;
}

.ant-col.footer-container__item {
  margin: 0 auto;
  @include respond(small-tablets) {
    padding: 20px;
  }
}

.footer-container__text {
  color: #999997;
  font-size: 24px;
  font-weight: 500;
}

.footer-container__text_tel {
  font-weight: 700;
  font-size: 24px;
  padding-top: 15px;
}

.footer-container__text_addr {
  font-size: 18px;
  margin-bottom: -10px;
}

.footer-container__text_copy {
  font-size: 14px;
  text-align: left;
  width: 100%;
  padding-top: 20px;
  @include respond(big-tablets) {
    text-align: center;
    padding-left: 0;
  }
}

.socials {
  display: flex;
}

.socials__link {
  color: #999997;
  font-size: 24px;
  display: block;
  padding-right: 30px;
}