@import '../../../../assets/mixins.scss';

.about_app {
  background-color: #F9FAF7;
  @include respond(big-tablets) {
    padding: 10px;
  }
}

.title {
  text-align: center
}

.content_text {
  font-size: 15px;
}

.link {
  color: #69a042;
}

.link:hover {
  color: #c4e0a6;
}