@import '../../../../assets/mixins.scss';

.about_app {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @include respond(big-tablets) {
    padding: 10px;
  }
}

.title {
  text-align: center
}

.test1 {
  color: #eee;
  background-image: url("https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png");
  height: 300px;
}

.content_text {
  margin-top: 80px;
}

.card {
  background-image: url("https://глэмпинг.рф/blog/glamping-dobroe-1.jpg");
}

.test2 {
  background-color: transparent;
  color: #eee;
  height: 300px;
}