@import '../../assets/mixins.scss';

.pagination {
  margin: 30px 0;
}

.store-body {
  background: #f9faf7;
  position: relative;
  height: 100%;
  @include respond(small-tablets) {
    display: block;
  }
}

.store-content {
  @include respond(small-phone) {
    margin-left: -30px;
  }
}

.sidebar  {
  width: 250px;
  padding: 10px 10px 130px;
  @include respond(small-tablets) {
    overflow-x: hidden;
    top: 16px;
    left: -15%;
    width: 0;
    z-index: 2;
    position: absolute;
  }
}

.buttons {
  display: none;
  @include respond(small-tablets) {
    display: flex;
  }
}

.sidebar-active  {
  @include respond(small-tablets) {
    width: 250px;
  }
}

.content {
  margin-left: 50px;
  padding: 1px 16px;
  background: #f9faf7;
  @include respond(big-tablets) {
    overflow: hidden;
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }
  @include respond(IphonePlus) {
    margin-left: 20px;
  }
  @include respond(Iphone6) {
    margin-left: 15px;
  }
  @include respond(Iphone5) {
    margin-left: 0;
  }
}

.btn {
  background-color: #FDD74E;
  border: 2px solid #FDD74E;
  margin-right: 2px;

}

.btn:focus {
  color: black;
  background-color: #fff;
  border: 2px solid #FDD74E;
}

.buttons {
  @include respond(small-tablets) {
    margin-left: 205px;
  }
  @include respond(IphonePlus) {
    margin-left: 40px;
  }
  @include respond(Iphone6) {
    margin-left: 15px;
  }
  @include respond(Iphone5) {
    margin-left: -10px;
  }
}

.ant-pagination-item-active {
  border-color: #69A042 !important;
}

.ant-pagination-item-active a{
  color: #69A042 !important;
}

.ant-pagination-item a:hover {
  color: #69A042 !important;
}

.ant-pagination-item:hover {
  border-color: #69A042 !important;
}

.ant-pagination-item-link:hover {
  border-color: #69A042 !important;
}

.anticon .anticon-left:hover {
  color: #69A042;
}

