@import '../../assets/mixins.scss';

.pagination {
  margin-top: 5px;
}

.store-body {
  background: #f9faf7;
  @include respond(small-phone) {
    display: block;
  }
}

.store-content {
  margin-left: 0px;
  @include respond(small-phone) {
    margin-left: -80px;
  }
}

.sidebar  {
  height: 90%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 16px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  @include respond(small-phone) {
    width: 0;
  }
}

.sidebar-active  {
  @include respond(small-phone) {
    width: 250px;
  }
}

.content {
  margin-left: 50px;
  padding: 1px 16px;
  height: 1000px;
  background: #f9faf7;
}

.cont {
  background: #f9faf7;
}