@import '../../assets/mixins.scss';

.locations-map {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;

  .locations-header {
    max-width: 600px;
    position: absolute;
    top: 20px;
    z-index: 2;
    @include respond(IphonePlus) {
      margin-left: 50px;
    }
    @include respond(Iphone6) {
      margin-left: 25px;
    }
    @include respond(Iphone5) {
      margin-left: 0;
    }
  }
  
  .locations-map__button {
    font-weight: 500;
    font-size: 20px;
    height: 40px;
    color: #2F2D25;
    background-color: #FDD74E;
    border: #FDD74E;
    outline: none;
    padding: 0 25px;
    margin: 5px 0 5px 10px;
    @include respond(IphonePlus) {
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 540px) {
  .locations-map {
    height: calc(100vh - 77px);
  }
}



