.rating {
  display: inline-block;
  top: -2px;
  position: relative;
  background-position: 0 -23px;
  width: 80px;
  vertical-align: middle;
  margin-right: 10px;
}
.rating::after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 80px;
  background-image: url(../../../../assets/img/stars.png);
  background-position: 0 -39px;
  height: 16px;
}
.product-detail-description {
  padding: 5%;
}

.button {
  background-color: #FDD74E;
  border: 2px solid #FDD74E;
}

.button:hover {
  background-color: #fff;
  border: 2px solid #FDD74E;
  color: black;
}

.reviews {
  color: #69a042;
}

.reviews:hover {
  color: #c4e0a6;
}