@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import '../../../assets/mixins.scss';

.carousel {
  position: relative;
  min-height: 800px;
  @include respond(small-phone) {
    min-height: 300px;
  }
}

.contentStyle {
  height: 80vh;
}

.carousel-prev {
  @include respond(big-tablets) {
    display: none;
  }
}

.carousel-next {
  @include respond(big-tablets) {
    display: none;
  }
}

.first-slide {
  background-image: url('../../../assets/img/slide-1.jpg');
  background-size: 100% 100%;
  background-position: center;
  padding: 10px;
  @include respond(big-tablets) {
    background-image:
    url('./../../../assets/img/slide-1-mobile.jpg');
    background-size: cover;
    background-position: center;
  }
}

.second-slide {
  background-image: url('../../../assets/img/slide-2.jpg');
  background-size: 100% 100%;
  background-position: center;
  @include respond(big-tablets) {
    background-image:
    url('./../../../assets/img/slide-2-mobile.gif');
    background-size: cover;
    background-position: center;
  }
}

.third-slide {
  background-image: url('../../../assets/img/slide-3.jpg');
  background-size: 100% 100%;
  background-position: center;
  @include respond(big-tablets) {
    background-image:
    url('./../../../assets/img/slide-3-mobile.jpg');
    background-size: cover;
    background-position: center;
  }
}

.fourth-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://picsy.ru/images/photos/1200/1/fotografii-prirody-v-khoroshem-k-34760.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.title-carousel{
  font-style: normal;
  line-height: 75px;
  font-weight: bold;
  font-size: 64px;
  margin: 40px 0 10px 0;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  @include respond(small-phone) {
    padding: 5px;
    font-size: 30px;
    width: 300px;
  }
}

.first-title{
  @include respond(small-phone) {
    margin-bottom: 160px;
  }
}


.text-carousel {
  font-weight: 300;
  font-size: 32px;
  line-height: 135%;
  color: #FFFFFF;
  padding: 20px 0 60px 0;
  margin: 0;
  @include respond(small-phone) {
    padding: 5px;
    width: 280px;
    font-size: 20px;
    color: #f3f706;
    display: none;
  }
}

.yellowText{
  color: #FDD74E;
}

.icon-text {
  display: flex;
  margin: 20px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 129%;
}

.icon {
  height: auto;
  width: 55px;
  margin-right: 20px;
}

.content-slider {
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  @include respond(small-phone) {
    margin: 10px;
    padding: 0;
  }
}

.carousel_button {
  background-color: #FDD74E;
  border: 2px solid #FDD74E;
  font-size: 24px;
  height: auto;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-weight: bold;
  min-width: 283px;
  min-height: 73px;
  &:hover {
    border: 2px solid #FDD74E;
    color: #000;
    background-color: #fff;
  }
}

.carousel-prev {
  position: absolute;
  top: 50%;
  left: 3%;
  z-index: 9999999;
  cursor: pointer;
}

.carousel-next {
  position: absolute;
  right: 3%;
  top: 50%;
  z-index: 9999999;
  cursor: pointer;
}