@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import '../../../assets/mixins.scss';

.contentStyle {
  color: #fff;
  line-height: 160px;
  text-align: left;
  background: #364d79;
  height: 80vh;
}

.first-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/img/slide1.png');
  background-size: 100% 100%;
  background-position: center;
  padding: 10px;
}

.second-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/ae/a6/a7/aea6a732b744cb9db860514c5ba1c86f.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.third-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://storge.pic2.me/upload/923/5961f5b35dc26.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.fourth-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://picsy.ru/images/photos/1200/1/fotografii-prirody-v-khoroshem-k-34760.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.title-carousel{
  font-family: 'Playfair Display', serif;
  left: 174px;
  top: 111px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 133px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @include respond(small-phone) {
    padding: 5px;
    font-size: 40px;
  }
}

.text-carousel {
  width: 400px;
  height: 86px;
  left: 275px;
  top: 262px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  color: #FFFFFF;
  @include respond(small-phone) {
    padding: 5px;
    width: 280px;
    font-size: 20px;
  }
}

.yellowText{
  color: #ecf008
}

.icon-text {
  display: flex;
  margin: 20px;
}

.icon {
  margin-right: 20px;
  height: 30px;
}

.content-slider {
  margin-left: 230px;
  margin-top: 111px;
  @include respond(small-phone) {
    margin: 10px;
  }
}

.carousel_button {
  background-color: #FDD74E;
  border: 2px solid #FDD74E;
  font-size: 24px;
  height: auto;
  &:hover {
    border: 2px solid #FDD74E;
    color: #000;
    background-color: #fff;
  }
}
