@import '../../../../assets/mixins.scss';

.reviews-mini {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @include respond(big-tablets) {
    padding: 0 10px;
  }
  &-content {
    margin: 15px 0;
  }
}

.ant-row.reviews-mini-content__container {
  justify-content: space-around;
}

.ant-card.ant-card-bordered.reviews-mini-content__card {
  max-width: 300px;
  margin: 5px;
  @include respond(small-tablets) {
    max-width: 100%;
  }
}
