.ant-tabs-tabpane {
  font-size: 18px;
  line-height: 21px;
  color: #2F2D25;
  font-weight: 400;
  margin-bottom: 20px;
  }

.ant-tabs-tab-btn {
  font-size: 20px;
}

.ant-tabs-tab-btn:hover {
  color: #69A042
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #69A042 !important; 
  font-weight: 500;
}