@import '../../assets/mixins.scss';

.border {
  border: 1px solid black;
}

.tabs {
  height: 30%;
  padding: 10px;
}

.ant-tabs-content-holder {
  padding-left: 15px;
}

.wrapper-top {
  margin-top: 55px;
}

.wrapper-bottom {
  margin-top: 170px;
}

.ant-row {
  @include respond(small-tablets) {
    flex-direction: column;
  }
}