.location-description {
  font-size: 18px;
  line-height: 21px;
  color: #2F2D25;
  font-weight: 400;
  padding: 0 15%;
  margin-top: 5%;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.anticon-check-square {
  margin-right: 10px;
}