@import '../../assets/mixins.scss';

.current-location {
  background: #f9faf7;
  padding-top: 50px;
  color: #2f2d25;
}

.current-location-card {

  @include respond(big-tablets) {
    max-width: 720px;
    flex-direction: column;  
    padding: 40px 10px;
  }

  @include respond(small-tablets) {
    max-width: 650px;
  }

  @include respond(small-phone) {
    max-width: 330px;
  }
}

.pich-list-title {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 32px;
  color: #2f2d25;
  padding-top: 35px;
  margin-left: 10px;
  text-align: center;
  width: 100%;
  @include respond(big-tablets) {
    margin-bottom: 0 !important;
  }
}