@import '../../../../assets/mixins.scss';

.ProductDetailGallery {
  max-width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  margin: 130px auto 0;
  @include respond(small-tablets) {
    margin: 0;
  }
}

.image-gallery {
  width: 100%;
}

.image-gallery-image {
  cursor: zoom-in;
}
