@import '../../assets/mixins.scss';

.location-body {
  background-color: #f9faf7;
}

.ant-layout-content {
  text-align: center;
}

.location-content {
  @include respond(small-phone) {
    margin-left: -30px;
  }
}