@import '../../../../assets/mixins.scss';

.map-menu {
  background: #E8F7FF;
}

.menu-container {
  box-shadow: 0px 0px 5px 0px #d2d2d2;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 11%;
  margin-bottom: 2px;
  justify-content: center;
  align-items: center;
  background: #E8F7FF;
  @include respond(small-tablets) {
    height: 12%;
    margin-bottom: 0;
  }
}


.map-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


