@import '../../../../assets/mixins.scss';

.glamping-pros {

  @include respond(big-tablets) {
    max-width: 720px;
    flex-direction: column;  
    padding: 40px 10px;
    
  }
  @include respond(small-tablets) {
    max-width: 650px;
  }

  @include respond(small-phone) {
    max-width: 330px;
  }  
}

.glamping-pros-card {
  padding: 56px 0;
  text-align: center;
}

.glamping-pros__text {
  margin-top: 20px;
  max-width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2f2d25;
  padding: 5px 10px;
}

.ant-col-6 {
  display: flex;
  flex-basis: 18%;
  margin: 10px;
  justify-content: center;
  
  @include respond(big-tablets) {
    max-width: 50%;
    margin: 0 20px;
    text-align: center;
  }

  @include respond(small-tablets) {
    max-width: 100%;
    // margin: 0 20px;
  }
}

.ant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}