@import '../../../../assets/mixins.scss';

.store-mini {
  background: #F9FAF7;
}

.module-card {
  justify-content: space-between;
  @include respond(big-tablets) {
    max-width: 720px;
    flex-direction: column;  
    padding: 40px 10px;
    
  }
  @include respond(small-tablets) {
    max-width: 650px;
  }

  @include respond(small-phone) {
    max-width: 330px;
  }
}

.title {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 32px;
  color: #2f2d25;
  padding-top: 70px;
  margin-bottom: 30px;
  text-align: start;
}

.module__link {
  color: #69A042;
  display: inline-block;
  margin-top: 5px;
  font-size: 18px;
  border-bottom: 2px solid #69a042;
  &:hover{
    color: #416129;
    border-bottom: 2px solid #416129;
    transition: all 0.2s;
  }
}


.ant-col-6 {
  display: flex;
  flex-basis: 23%;
  margin: 10px;
  justify-content: center;
  
  @include respond(big-tablets) {
    max-width: 50%;
    margin: 0 20px;
  }

  @include respond(small-tablets) {
    max-width: 100%;
    margin: 0 20px;
  }
}

.ant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}







